<footer class="footer">
    <div class="services">
        <div class="content-wrap">
            <div class="service-item">
                <div class="service-item-main">
                    <div class="thumb"><img src="{{ url('<front>') }}themes/custom/fashion/assets/img/card.svg" width="47" alt=""></div>
                    <h6>Secure payments</h6>
                </div>
                <p class="service-body">Lorem ipsum dolor sit amet, consectetur dolor adipisicing dolor elitlabore.</p>
            </div>
            <div class="service-item">
                <div class="service-item-main">
                    <div class="thumb"><img src="{{ url('<front>') }}themes/custom/fashion/assets/img/returns.svg" width="53" alt=""></div>
                    <h6>Returns</h6>
                </div>
                <p class="service-body">Lorem ipsum dolor sit amet, consectetur dolor adipisicing dolor elitlabore.</p>
            </div>
            <div class="service-item">
                <div class="service-item-main">
                    <div class="thumb"><img src="{{ url('<front>') }}themes/custom/fashion/assets/img/shipping.svg" width="46" alt=""></div>
                    <h6>Smart shipping</h6>
                </div>
                <p class="service-body">Lorem ipsum dolor sit amet, consectetur dolor adipisicing dolor elitlabore.</p>
            </div>
            <div class="service-item">
                <div class="service-item-main">
                    <div class="thumb"><img src="{{ url('<front>') }}themes/custom/fashion/assets/img/customer.svg" width="53" alt=""></div>
                    <h6>Customer care</h6>
                </div>
                <p class="service-body">Lorem ipsum dolor sit amet, consectetur dolor adipisicing dolor elitlabore.</p>
            </div>
        </div>
    </div>
    <div class="bg-black">
        <div class="content-wrap">
            <div class="subscribe-form">
                <form action="">
                    <label for="subscribe-input">SUBSCRIBE TO OUR NEWSLETTER</label>
                    <input type="email" placeholder="Your e-mail" id="subscribe-input">
                    <button type="submit">OK</button>
                </form>
            </div>
            <div class="block-social">
                <h4>Follow us</h4>
                <ul>
                    <li>
                        <a href="javascript:;">
                            <span class="icon font-ico-facebook"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon font-ico-instagram"></span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:;">
                            <span class="icon font-ico-linkedin"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-links">
        <div class="content-wrap">
            <ul>
                <li>Copyright 2017 - VEGAIT Sourcing</li>
                <li><a href="javascript:;">About us</a></li>
                <li><a href="javascript:;">Faq</a></li>
                <li><a href="javascript:;">Carreers</a></li>
                <li><a href="javascript:;">For professionals</a></li>
                <li><a href="javascript:;">Term and Conditions</a></li>
                <li><a href="javascript:;">Confidentiality</a></li>
                <li><a href="javascript:;">Contact us</a></li>
            </ul>
        </div>
    </div>
</footer>