{% include directory ~ '/header.html.twig' %}
<div class="content block confirmation-block">
    <div class="checkout-blocks-wrap">
        <div class="wrap">
            <div class="checkout-block-full">
                <div class="checkout-subheading">
                    <h3>Thank you!</h3>
                    <div class="right">
                        <a href="javascript:;" class="print-link"><i class="icon font-ico-print"></i><span>Print your invoice</span></a>
                    </div>
                </div>
                <div class="checkout-block-form clearfix mob-border">
                    <p>Your order has been placed successfully. <br>You’ll receive a confirmation e-mail.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% include directory ~ '/footer.html.twig' %}